.aboutMe {
    margin: 0;
    margin-top: 80px;
}

.aboutMe-content{
    max-width: 800px; 
    margin: 0 auto;

    text-align: center; 
    background: linear-gradient(to bottom, white 1%, #E6DACE 50%);
    padding-top: 60px;
}

.aboutMe-conteiner{
    max-width: 330px;
    background-color: #F4ECE6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.aboutMe-photo{
    width: 100%; 
    height: 205px; 
    width: 205px;
    border-radius: 50%;
    margin-top: 15px;
}

.about-name{
    margin-top: 20px;
    max-width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    font-size: 27px;
    line-height: 1;
}

.horizontalBorder {
    margin: 0 auto;
}

.about-job{
    margin: 0 auto;
    max-width: 137px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.25;
}

.aboutMe-buttons {
    margin: 50px 0;
}

.btn-main, .btn-border {
    padding: 10px 30px;
    margin: 8px;
    text-decoration: none;
}

.btn-main {
    background-color: #007BFF; 
    color: white;
    border-radius: 5px; 
}

.btn-border {
    border: 1px solid #007BFF;
    color: #007BFF; 
    border-radius: 5px;
}

.aboutMe-text{
    background-color: #E6DACE;
    padding-bottom: 50px;
}

.aboutMe-text h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    max-width: 280px;
}

.aboutMe-text p{
    max-width: 290px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: justify; 
}